/*------------------- GENERAL STYLING ---------------------*/

*  /* is used for root styling */
{
    box-sizing: border-box;
    margin:0;
    padding:0;
    color: white;
    list-style: none;
    text-align: center;
    min-width: 0%;
    zoom: 105%;
    /* overflow-x: clip; */
}

img /* Prevents Image Shrinking */
{
flex-shrink: 0;
}

/* flex grid example taken from https://css-tricks.com/dont-overthink-flexbox-grids/ */

.flex-grid 
{
  display: flex;
}

.flex-grid .column 
{
  flex: 1;
}

.flex-grid-thirds 
{
   display: flex;
   justify-content: space-between;
}

.flex-grid-halves
{
  display: flex;
  justify-content: space-evenly;
}

.flex-grid-thirds .column 
{
   width: 32%;
}

.flex-grid-halves .column
{
    width: 49%;
}

/* ==========BLURB STUFF========== */

.blurb-stack
{
    margin-top: 1rem;
    margin-left: 1rem;
}

.blurb-stack .blurb
{
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.blurb:nth-child(2), .blurb:nth-child(4), .blurb:nth-child(6)
{
    margin-right: 0.2rem;
} 

.blurb:nth-child(1), .blurb:nth-child(3), .blurb:nth-child(5)
{
    margin-left: 0.2rem;
} 

.blurb p
{
    text-align:left;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.blurb
{   
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: 0;
    margin-right: 0;

    border-radius: 1rem;
    max-width: 45%;
}

/* ==========BLURB STUFF========== */


.singlecolumn
{
    width: 99%;
}

.singlecolumn p
{
    text-align: left;
    margin-left: 1.5rem;
}

.imgcontainer
{
  display: block;
  z-index: 0;
  margin: 2rem;
  min-width: 25vw;
  margin-top: -3rem;
  background: linear-gradient(-225deg,rgba(2, 0, 36, 0.171) 0%, rgba(0, 213, 255, 0.253) 100%);
  box-shadow: inset 0.2rem 0.1rem 0.8rem  rgb(40, 27, 117), inset -0.1rem -0.2rem 0.8rem  rgb(161, 218, 228);
  border-radius: 100%;

}

.imgcolumn
{
   margin: auto;
   margin-top: -0.5rem;
   margin-bottom: -1rem;
   width: 100%;
   height: inherit;
   scale: inherit;
   flex-shrink: 0;
}

.imgcolumnsmall
{
   margin: auto;
   margin-top: -8rem;
   margin-bottom: -10rem;
   width: 100%;
   height: inherit;
   scale: 50%   ;
   flex-shrink: 0;
}

.imgcontainer p, .imgcontainer h1
{
   border-bottom-left-radius: 0rem;
   border-bottom-right-radius: 10rem;
   border-top-left-radius: 10rem;

   margin-top: 0.5rem;
   margin-bottom: -1rem;
   padding-top: 0.5rem;
   padding-bottom: -1rem;

   font-style: bold;
   font-size: 2rem;
}

.columnimg
{
    
    max-width: 20vw;
    border-top-left-radius: 10rem;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    border:solid slateblue 0.4rem;
    border-right: solid rgb(63, 47, 165) 0.4rem;
    border-bottom: solid rgb(63, 47, 165) 0.4rem;
    box-shadow: 0.3rem 0.1rem 0.1rem rgba(46, 33, 82, 0.411);
    margin: auto;
    margin-bottom: 1vh;
}


.columnimg ~ .subtitle
{
    margin: auto;
    padding-top: 0.5rem;
    margin-top: -0.85rem;
    margin-bottom: 1rem;
    max-width: 64%;
    font-style: italic;
    font-weight: 700;
}

.heroimage
{
    background:url('./styling/banner.png');
}

.heroimage2
{
    background:url('./styling/banner2.png');
}

.heroimage3
{
    background:url('./styling/banner3.png');
}

.heroimage4
{
    background:url('./styling/banner4.png');
}

.heroimage5
{
    background:url('./styling/banner5.png');
}

.heroimage, .heroimage2, .heroimage3, .heroimage4, .heroimage5
{
    z-index: 0;

    min-height: 100%;
    padding-top: 20vh;

    display: block;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    margin-left: -1rem;
    margin-right: -2.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    box-shadow: inset 0rem 0.8rem 0.8rem rgb(2, 8, 97), inset -0.2rem -0.8rem 0.95rem rgb(110, 188, 252);
    border-top: solid rgb(3, 3, 100) 10px;
    border-bottom: solid rgb(108, 177, 223) 5px;
}

.logo
{
    display: flex;
    justify-content: left;
    align-items: left;
    width: 0%;
    margin-left: -10rem;
  
}


.logo a img
{
    scale: 50%;
    margin-bottom: 0.5vh;
    margin-top: -4vh;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.logopartner
{
    text-align: left;
    margin-left: -0.5rem;
    margin-bottom: 0rem;
    margin-top: -2rem;
}

header .logo a img:hover
{
   scale: 55%;
   rotate: -5deg;
   margin-top: -2vh;
   margin-bottom: 2vh;
}

.yourthemeis
{
    text-align: right;
    margin-top: -9rem;
    margin-bottom: -1rem;
}

.themetext
{
    text-align: right;
    margin-left: auto;
    margin-right: 5vw;
    margin-bottom: 0rem;
    margin-top: 2rem;
    transition: ease-in-out 0.2s all;
    user-select:none;
}

/* Example Animation code taken from https://codepen.io/sungaila/pen/LzMgjE */

.theme
{
    margin-bottom: -2.5rem;
    margin-top: -3rem;
    perspective: 500px;	
	display: flex;
	justify-content: right;
	align-items: right;
}

.themetext:active
{
    animation: rotateAnimation 0.3s linear 1;
}

@keyframes rotateAnimation {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(360deg);}
}

/* Example Animation code taken from https://codepen.io/sungaila/pen/LzMgjE */

/* =============BUTTON STUFF=============== */

.checkcontainer
{
    width: fit-content;
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;
    flex-basis: 100%;
    scale:200%;
    background-color: rgba(0, 0, 0, 0.103);
    box-shadow: inset 0rem 0.2rem 0.4rem rgba(211, 241, 255, 0.4), inset 0rem -0.2rem 0.4rem rgba(21, 12, 46, 0.9), 0rem 0.2rem 0.1rem rgba(21, 12, 46, 0.9);
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    margin: 1rem;
    white-space: wrap;
}

.checkcontainer .checkbox
{

    color: #fa3a00;
    box-shadow: darkblue 0.1rem 0.1rem,  white -0.01rem -0.01rem;;
    border-radius: 0%;
}

.submit
{
    width: 50%;
    
    flex-basis: 50%;

    flex-grow: 1;

    min-width: fit-content;
    
    transition: all 0.5s ease-in-out;


    text-shadow: 1px 2px #0200244b;
    text-decoration: none;

    background: #fa3a00;
    background: linear-gradient(0deg, rgb(250, 58, 0) 0%, rgba(255, 166, 0, 1) 68%, rgba(255, 145, 0, 1) 72%, rgba(255, 145, 0, 1) 95%, rgba(255, 255, 255, 1) 100%);
    
    box-shadow: 0.01rem 0.1rem 0.5rem rgb(255, 136, 0);

    border: 0.15rem solid #850000;
    border-radius: 1rem;

    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.submit p
{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    margin-bottom: 0rem;
    margin-top: -0.25rem;
}

.buttons
{
  z-index: 0;

  display: flex; 

  flex-direction: column;

  flex-wrap: nowrap;

  width: 100%;

  justify-content: space-between;

  align-items: stretch;

  position: relative;


}


.buttons a 
{
    width: 10%;
    
    flex-basis: 10%;

    flex-grow: 1;

    min-width: fit-content;

    
    transition: all 0.5s ease-in-out;


    text-shadow: 1px 2px #0200244b;
    text-decoration: none;

    background: #fa3a00;
    background: linear-gradient(0deg, rgb(250, 58, 0) 0%, rgba(255, 166, 0, 1) 68%, rgba(255, 145, 0, 1) 72%, rgba(255, 145, 0, 1) 95%, rgba(255, 255, 255, 1) 100%);
    
    box-shadow: 0.01rem 0.1rem 0.5rem rgb(255, 136, 0);

    border: 0.15rem solid #850000;
    border-radius: 1rem;

    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25rem;
}

.buttons p
{
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 0rem;

    margin-top: -0.25rem;
}

.buttons a p
{
    margin: 0;
    padding: 0.1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.buttons a:hover
{
 width: 90%;
 flex-grow: 1;

 color: rgb(255, 255, 255);
 text-shadow: 5px 5px #3700ff4b;
}





/* =============BUTTON STUFF=============== */


/* BASIC SECTION STYLING */

body 
{
    height: 100%;
    background-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header
{
    padding: 1.1rem;
}

main
{
    margin-left: 1rem;
    margin-right: 3rem;
}

h1, h2, h3, h4
{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

header ul
{
  text-align: right;
  margin-bottom: -9.5rem;
  margin-top: -0.5rem;
  
}

header ul .socialbar
{
    display: inline-block;
}

header ul .socialbar a img
{
    width: 1.9rem;
    height: 1.9rem;
    margin: 0.1vw;
    transition: all 0.1s ease-in;
}

header ul .socialbar img:hover
{
    width: 2rem;
    height: 1.9rem;
    rotate: -1deg;

}

.column ul li
{
    display: inline-block;
}

.column ul li img
{
    width: 3.9rem;
    height: 3.9rem;
    margin: 0.1vw;
    transition: all 0.1s ease-in;
}

.title
{
    max-width: 50rem;
    margin-top: 2rem;
    margin-left: 0vw;
    margin-right: auto;
    margin-bottom: 0;

    padding-bottom: 1rem;
    
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 10rem;
    border-top-left-radius: 10rem;
}

.subtitle
{
   
    text-align: center;
    text-wrap: nowrap;

    padding-left: 0rem;
    padding-bottom: 0.5rem;

    max-width: 30rem;
    margin: auto;
    margin-left: 0vw;
    margin-bottom: 1rem;

    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    border-top-right-radius: 0rem;
}


.textheader
{
    max-width: 40rem;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: auto;
    margin-bottom: 1rem;
    
    border-radius: 10rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 0rem;
    
}



section
{
    max-width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
}

section p
{
    margin-bottom: 1rem;
}

footer
{
    padding: 1.1rem;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
    border-top-left-radius: 5rem;
}


/* WHEN REACHING A MINIMUM SIZE OF 720P SCREENS, WILL CHANGE TO VERTICAL FORMAT */


@media screen and (min-width:1920px) 
{




    .cliptext
{
     padding: 3em 3% 0; /*padding changes dynamically to prevent overflow */
}

/* Scroll text from https://codepen.io/sizhik/pen/oNmYYJJ */

.scrolltext
{
    overflow: hidden;

    display: inline-flex;
    position: absolute;
    
    left: 0;

    margin-left: 38rem;
    white-space: wrap;


    align-items: center;
 
    transform: translateX(0);
    animation: text-scroll 4s linear infinite;  
}

.scrolltext h2
{
    color: rgba(211, 211, 211, 0.473);
    text-shadow: rgba(164, 148, 255, 0.103) 0.5rem 0.2rem;
       text-align: left;
}

@keyframes text-scroll {
    100% { transform: translate3d(0%, 335%, 0); }
    0% { transform: translate3d(0%, -70%, 0); }

}
    
}

@media screen and (max-width:1024px) 
{

        .checkcontainer
    {
    flex-direction: column;
    margin-top: 10rem;
    margin-bottom: 10rem;
    }

    .scrolltext h2
    {
        scale: 0%
    }

    .flex-grid-thirds,  .flex-grid-halves
    {
        flex-direction: column;
        flex-wrap: wrap;
        position: inherit;
        justify-content: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    .flex-grid-thirds .column,  .flex-grid-halves .column
    {
        width: 98%;
    }

    .blurb
    {
       max-width: 98%;
    }


    header ul li img
    {
        width: 1.9rem;
        height: 1.9rem;
        margin: 0.1vw;
        transition: all 0.1s ease-in;
    }

        .columnimg
    {
        
        max-width: 50vw;
    }

    .imgcontainer
    {
        margin: auto;
        padding: auto;
    }

    .logo
    {
    scale: 90%;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    }

    .logo a
    {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    }
    

    header .logo a img:hover
    {
    scale: 55%;
    rotate: -5deg;
    margin-top: 2vh;
    margin-bottom: 2vh;
    }

    .logopartner
    {
        text-align: center;
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: auto;
        margin-right: auto;
    }

    .yourthemeis
    {
    text-align: center;
    margin-top: -6rem;
    margin-bottom: 0rem;
    }

        
    .theme
    {
        margin-bottom: 0rem;
        margin-top: -3rem;
        perspective: 500px;	
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .themetext
    {
        text-align: center;
        margin-left: 2.5rem;
    }

    .buttons a
    {
       min-width: 75%;
    }

    
}